@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Данный сайт предоставляет продажу техники!</h1>
    <p>Перейдите на вкладку <a href="/cars">Магазин</a> чтобы посмотреть список доступных машин.</p>
</div>
